NODE_ENV=development
PORT=5000

# Database
DATABASE_URL="postgres://user:password@host:port/dbname?sslmode=require"

# Redis
REDIS_URL="redis://default:password@host:port"

# JWT
JWT_SECRET="your-jwt-secret-key"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-key"
JWT_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="7d"

# Bcrypt
BCRYPT_SALT_ROUNDS=12

# SMTP Config
SMTP_USER="your-email@gmail.com"
SMTP_PASSWORD="your-app-password"
EMAIL_SENDER="your-email@gmail.com"

# Admin credentials
ADMIN_EMAIL="admin@gridwatch.com"
ADMIN_PASSWORD="Admin1234!"

# Google Auth
GOOGLE_CLIENT_ID="your_google_client_id_here"

#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
